[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.conda/envs/goodreads/bin/uwsgi -i /home/ubuntu/projects/backend/.config/uwsgi/goodreads.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
